{{ define "main" }}
{{ $now := where .Site.RegularPages "Params.categories" "intersect" (slice "Now") }}
<div class="now-page">
  <p class="now-intro">This page is a simple view of what I'm up to right now. Inspired by <a href="https://harper.blog/now/"><strong>Harper</strong></a>, who was inspired by <a href="https://nownownow.com"><strong>nownownow.com</strong></a>, and so on.</p>

  {{ with index $now 0 }}
  <h1 class="now-date">Now @ {{ .Date.Format "January 2, 2006" }}</h1>
  {{ end }}

  <div class="now-content">
    {{ range $now }}
    <div class="now-post">
      {{ .Content }}
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
